/* src/index.css */
/* MM: Basis-styling for hele siden */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* MM: mørk bakgrunn og sentrerer kortet i midten */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #222222;
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
